<div class="container overlay-container">
  <div class="center-container" style="margin-top: 100px;">
    <form [formGroup]="contactForm" style="min-width: 500px; max-width: 800px; width: 100%;">
      <div style="margin-top: 200px;">

          <mat-select class="custom-select" (selectionChange)="changePlayer()" formControlName="playerName">
            <mat-option value="">Choose the player you want to contact</mat-option>
            <mat-option *ngFor="let player of Players" [value]="player.driverId">{{player.givenName + ' ' + player.familyName}}</mat-option>
          </mat-select>
      </div>

      <div>
        <!-- One input is missing that will be used for the subject of the message, it will have a formcontrol too -->
        <mat-card style="margin-top: 30px; max-width: 800px;">
          <div style="min-width: 500px; max-width: 800px; width: 100%;">

              <div>
                  <div style="width: 100%;" >
                    <mat-label style="font-size: 24px; font-weight: 300;  margin-bottom: 30px; ">Write your message</mat-label>
                      <textarea matInput rows="80" cols="100" formControlName="message" style="width: 100%; max-height: 200px; overflow-y: scroll;background-color: #878787; color: white;"></textarea>
                  </div>
              <br/>

              <button mat-raised-button color="primary" style="width: 300px;" (click)="submit()">Submit</button>
              </div>
            </div>
        </mat-card>
      </div>
<!-- the form will also have a few validators, one to check if ther area and/or subject is empty when hiting the submit button and one
to check if the user has choosen any driver, in any case I was thinking about displaying the error before hitting the submit button (with <mat-error>),
 I would disable the button until the criteria will be met -->
    </form>

  </div>
</div>


