<div style="background-color: #595959;">
  <mat-sidenav-container class="sidebar" fullscreen>
    <mat-sidenav mode="side" #sidenav opened position="start" style="font-size: xx-large; text-align: center;">
      <span>Menu</span>
      <mat-list>
        <mat-list-item class="list-item" >
          <a class="underline" routerLink="/results" routerLinkActive="active">Results</a>
        </mat-list-item>
        <mat-list-item class="list-item">
          <a class="underline" routerLink="/winners" routerLinkActive="active">Winners</a>
        </mat-list-item>
        <mat-list-item class="list-item">
          <a class="underline" routerLink="/contact" routerLinkActive="active">Contact</a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="app-title">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        Formula 1 application
      </mat-toolbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


