<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start" style="font-size: xx-large; text-align: center;">
    Menu
    <mat-list >
      <mat-list-item><a routerLink="/results" routerLinkActive="active">Results</a></mat-list-item>
      <mat-list-item><a routerLink="/winners" routerLinkActive="active">Winners</a></mat-list-item>
      <mat-list-item><a routerLink="/contact" routerLinkActive="active">Contact</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="box-shadow: 0 0 10px rgb(34, 31, 31);">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Formula 1 results application
      <span class="toolbar-spacer"></span>
      My Account
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
